@model Inspinia_MVC5_SeedProject.Models.Fiscalization

@{
	ViewBag.Title = "Delete";
	Layout = null;
}

<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title" id="myModalLabel">Delete</h4>
</div>


@using (Ajax.BeginForm("Delete", "Fiscalizations", FormMethod.Post, new AjaxOptions
{
	InsertionMode = InsertionMode.Replace,
	HttpMethod = "POST",
	OnSuccess = "CallbackFunc"
}))
{
	@Html.AntiForgeryToken()
	<div class="modal-body">
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<p style="text-align:center">Jesteś pewien, że chcesz usunąć zlecenie fiskalizacji? @*<b>@Html.DisplayFor(model => model.Name)?</b>*@</p>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" data-dismiss="modal">Anuluj</button>
		<input class="btn btn-danger" type="submit" value="Usuń" />
	</div>
}
